
/*Table css*/
table {
    border-collapse: collapse;
    font: 10px sans-serif;
}



th:first-of-type {
    text-align: left;
}

th {
    font-weight: 550;
    text-align: center !important;
    padding-left: 10px;
    min-width: 50px;
    background: rgb(248, 248, 248);
}

.view1{
    display: inline-block;
}

td {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color:black;
    width: max-content;


}

td:first-of-type
{
    text-align: left;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #efefef !important;
}

table > .label{
    text-anchor: middle;
}

#columnHeaders{
    cursor: pointer;

}
@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}